__pycache__
router/__pycache__
fastapi
frontend/frontend/package-lock.json
frontend/frontend/package.json
frontend/frontend/README.md
frontend/frontend/public/index.html
frontend/frontend/public/favicon.ico
frontend/frontend/public/logo192.png
frontend/frontend/public/logo512.png
frontend/frontend/public/manifest.json
frontend/frontend/public/robots.txt
frontend/frontend/src/App.test.js
frontend/frontend/src/index.css
frontend/frontend/src/logo.svg
frontend/frontend/src/reportWebVitals.js
frontend/frontend/src/setupTests.js
fastapi-practice.db
